body, html{
    margin: 50px;
}

.container{
    border: solid gray;
    padding: 30px;
    border-radius: 5px;
}

h3{
    margin-bottom: 0px;
}

h1{
    font-weight: bold;
    margin-top:0px ;
}

label, input[type=radio]{
    margin-top: 10px;
}

button{
    margin-top: 20px;
    background-color: #007bff;
    border-radius: 4px;
    font-size: medium;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}